/* CSS Document */
/* font */
@font-face{ font-family:'Geogrotesque CE'; src:url('../font/geogtq-mdce-webfont.eot'); src:url('../font/geogtq-mdce-webfont.eot?#iefix') format('embedded-opentype'),url('../font/geogtq-mdce-webfont.woff') format('woff'),url('../font/geogtq-mdce-webfont.ttf') format('truetype'); font-weight:normal; font-style:normal; }
@font-face{ font-family:'Geogrotesque CE'; src:url('../font/geogtq-sbce-webfont.eot'); src:url('../font/geogtq-sbce-webfont.eot?#iefix') format('embedded-opentype'),url('../font/geogtq-sbce-webfont.woff') format('woff'),url('../font/geogtq-sbce-webfont.ttf') format('truetype'); font-weight:bold; font-style:normal; }
/* css reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,figure,figcaption,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
table,tr,th,td{ vertical-align:top; }
ul,ul li,menu,menu li{ margin:0; padding:0; list-style:none; }
blockquote,q{ quotes:none; }
blockquote:before,blockquote:after,q:before,q:after{ content:''; content:none; }
address{ font-style:normal; }
ins{ text-decoration:none; }
del{ text-decoration:line-through; }
table{ border-collapse:collapse; border-spacing:0; }
th{ text-align:left; }
input,textarea{ font-family:Arial,Helvetica,sans-serif; font-size:100%; }
input.submit{ width:0; overflow:visible; }
input.submit[class]{ width:auto; }
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{ display:block; }
/* elements */
body{ font-size:13px; font-family:Arial,Helvetica,sans-serif; color:#4f4f4f; text-align:center; background:#d7e0ee; }
a{ color:#e70000; cursor:pointer; }
a:hover{ text-decoration:none; }
h1,h2,h3,h4,h5,h6{ margin:0 0 15px 0; font-weight:bold; }
h1{ font-size:24px; line-height:27px; font-family:'Geogrotesque CE',sans-serif; }
h2{ font-size:21px; line-height:24px; font-family:'Geogrotesque CE',sans-serif; }
h3{ font-size:18px; line-height:21px; font-family:'Geogrotesque CE',sans-serif; }
h4{ color:#8c0010; }
p,address{ line-height:18px; margin:0 0 15px 0; }
ul,ol{ padding:0; margin:0 0 15px 15px; }
ul ul,ul ol,ol ol,ol ul{ margin-bottom:0; }
ol{ list-style:decimal; }
li{ font-size:12px; line-height:16px; }
ul li{ line-height:18px; padding:0 0 0 20px; margin:0 0 6px 0; background:url(../images/arr/03.png) no-repeat 0 3px; _height:0; }
ul ul{ padding:10px 0 5px 0; }
ul.unstyled,ol.unstyled{ margin-left:0; list-style:none; }
hr{ margin:0 0 20px 0; border:0; border-top:1px solid #5e6a78; border-bottom:1px solid #fff; background:none; height:1px; overflow:hidden; }
strong{ font-weight:bold; }
em{ font-style:italic; }
/* classes */
.r{ text-align:right!important; }
.c{ text-align:center!important; }
.l{ text-align:left!important; }
.j{ text-align:justify!important; }
.clear{ clear:both; }
.cleaner{ display:block; clear:both; height:0; overflow:hidden; float:none; _height:1px; _margin:0 0 -1px 0; }
.nodisplay{ display:none; }
.clearfix{ *zoom:1; }
.clearfix:before,.clearfix:after{ display:table; content:""; }
.clearfix:after{ clear:both; }
.block{ display:block; }
/* xart.classes */
nav.more{ text-align:right; background:url(../images/arr/06.png) no-repeat -1000em; }
nav.more a{ display:inline-block; text-decoration:none; font-weight:bold; padding:3px 26px 3px 0; font-weight:bold; background:url(../images/arr/07.png) no-repeat right; }
nav.more a:hover{ color:#4f4f4f; text-decoration:underline; background:url(../images/arr/06.png) no-repeat right; }
table.normal{ margin:0 0 15px 0; border-top:1px solid #fff; width:100%; background:#e6edf8; }
table.normal th,table.normal td{ padding:6px 8px; color:#333; border-bottom:1px solid #fff; border-left:1px solid #fff; border-right:1px dotted #fff; font-weight:normal; }
table.normal.compact th,table.normal.compact td{ padding:2px 8px; }
table.normal tr:nth-child(odd) td{ background:#eef2f8; }
table.normal th,table.normal thead td,table.normal thead tr:nth-child(odd) td{ font-weight:bold; color:#fff; background:#848d97; }
table.normal th a,table.normal thead td a{ color:#fff; }
table.normal tfoot td,table.normal tfoot tr:nth-child(odd) td{ background:#d2dbe8; }
table.normal tr:hover td{ background:#dee8f6; }
table.normal tr:hover th,table.normal thead tr:hover td{ background:#8b939c; }
table.info{ margin:0 0 15px 0; }
table.info td,table.info th{ padding:0 7px 0 0; }
form.normal{ margin:0 0 15px 0; }
form.normal label{ display:block; margin:0 0 10px 0; font-weight:bold; }
form.normal .optgroup label{ display:inline; margin:0 0 10px 0; font-weight:normal; }
form.normal input[type=text],form.normal input[type=password],form.normal textarea,form.normal select{ position:relative; border:1px solid #5e6a78; font-size:13px; line-height:18px; margin:0 3px 5px 0; width:198px; height:18px; padding:4px 10px; color:#4f4f4f; background:#ecf1f9; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-box-shadow:inset 5px 5px 20px #fff; -moz-box-shadow:inset 5px 5px 20px #fff; box-shadow:inset 5px 5px 20px #fff; }
form.normal input.input-mini{ width:25px; padding-left:0; padding-right:0; text-align:center; }
form.normal input.input-small{ width:125px; }
form.normal input.input-large{ width:300px; }
form.normal textarea{ padding:10px; width:auto; height:auto; }
form.normal select{ width:auto; height:auto; padding:4px; }
form.normal input[type=text]:hover,form.normal input[type=password]:hover,form.normal textarea:hover,form.normal select:hover,
form.normal input[type=text]:focus,form.normal input[type=password]:focus,form.normal textarea:focus,form.normal select:focus{ background:#fff; }
form.normal .fileinputs{ position:relative; overflow:hidden; display:inline-block; cursor:default; }
form.normal .fileinputs input.type-file{ position:absolute; top:-10px; right:-10px; margin:0; padding:0; border:0; width:auto!important; font-size:999px; z-index:1; cursor:default; opacity:0; -moz-opacity:0; filter:alpha(opacity=0); }
.normal-button{ position:relative; top:0; margin:0 0 5px 0; padding:0; border:0; height:28px; padding:0 17px; color:#fff; text-align:center; overflow:visible; font-size:14px; background:#e70000; cursor:pointer; white-space:nowrap; font-family:'Geogrotesque CE',sans-serif; }
.browserFirefox .normal-button{ top:1px; }
a.normal-button{ display:inline-block; text-decoration:none; line-height:28px; }
.normal-button:hover,.fileinputs:hover .normal-button{ background:#999; }
.normal-button:active,.fileinputs:active .normal-button{ background:#777; }
.search-results .highlight,.results .highlight{ background:#cefeaa; padding:0 3px; }
.pagehub{ clear:both; text-align:center; padding:20px 0; background:url(../images/bg/11.png) no-repeat top; }
.pagehub a,.pagehub span{ position:relative; display:inline-block; width:30px; height:30px; line-height:30px; text-align:center; text-decoration:none; font-size:14px; color:#fff; background:#999; font-family:'Geogrotesque CE',sans-serif; }
.pagehub span.pagenav{ background:#e70000; }
.pagehub a:hover{ background:#777; }
.pagehub span.pagenav-ico{ opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50); cursor:default; }
.clear-decor,.description_separator,.article_separator{ clear:both; background:url(../images/bg/07.png) no-repeat top; margin:0 0 15px 0; height:12px; overflow:hidden; }
img.img-left,img[align=left]{ float:left; margin:0 15px 5px 0; }
img.img-right,img[align=right]{ float:right; margin:0 0 5px 15px; }
a.jcepopup img{ border-top:10px solid #e70000; border-bottom:10px solid #e70000; }
a.jcepopup:hover img{ border-top:10px solid #999; border-bottom:10px solid #999; }
.colored-grey{ color:#777; }
.colored-blue{ color:navy; }
.colored-orange{ color:#f27a00; }
.mod_breadcrumbs ul{ margin:0 0 25px 0; padding:0; }
.mod_breadcrumbs ul li{ margin:0 10px 0 0; padding:0 0 0 20px; display:inline; }
/* layout */
#col-top{ min-width:960px; height:247px; background:url(../images/bg/04.jpg) repeat-x top; }
#col-top .in{ width:940px; margin:0 auto; text-align:left; }
#container{ *zoom:1; min-width:960px; background:url(../images/bg/05.png) repeat-x; }
#container:before,#container:after{ display:table; content:""; }
#container:after{ clear:both; }
#container .in{ margin:0 auto; text-align:left; width:940px; }
#col-left-half{ float:left; width:460px; _overflow:hidden; }
#col-right-half{ float:right; width:460px; _overflow:hidden; }
#col-banners{ position:relative; width:960px; margin:0 auto; text-align:left; z-index:10; }
#col-bottom{ position:relative; z-index:20; _height:0; background:url(../images/bg/08.png) repeat-x top; }
#col-bottom .in{ *zoom:1; position:relative; margin:0 auto; padding:45px 0 0 0; text-align:left; width:940px; }
#col-bottom .in:before,#col-bottom .in:after{ display:table; content:""; }
#col-bottom .in:after{ clear:both; }
#page-footer{ background:url(../images/bg/13.png) repeat-x; }
#page-footer .in{ *zoom:1; position:relative; margin:0 auto; padding:20px 0 50px 0; text-align:left; width:940px; }
#page-footer .in:before,#page-footer .in:after{ display:table; content:""; }
#page-footer .in:after{ clear:both; }
#col-title{ padding:8px 0; border-bottom:1px solid #fff; background:url(../images/bg/04.jpg) repeat-x top; }
#col-title h1{ width:940px; margin:0 auto; padding:8px 0; text-align:left; color:#fff; }
#col-left{ width:220px; padding:30px 0 40px 0; float:left; }
#col-main{ width:700px; padding:30px 0 0 0; float:right; }
#col-center{ width:460px; float:left; }
#col-right{ width:220px; float:right; }
/* page-header */
#page-header{ position:relative; z-index:999; background:url(../images/bg/01.png) repeat-x; }
#page-header.subpage{ background-image:url(../images/bg/01s.png); }
#page-header .in{ position:relative; height:275px; width:940px; margin:0 auto; text-align:left; background:url(../images/bg/02.jpg) no-repeat top; }
#page-header.subpage .in{ height: 180px; background-image:url(../images/bg/02s.jpg); }
#page-header .logo{ position:absolute; top:69px; left:20px; }
#page-header.subpage .logo{ top:36px; }
/*#page-header .flash{ position:absolute; top:0; left:150px; width:590px; height:197px; } xart:ps - ne */
.mod_jflanguageselection{ position:absolute; top:17px; right:0; width:400px; }
.mod_jflanguageselection ul{ margin:0; padding:0; text-align:right; }
.mod_jflanguageselection ul li{ margin:0; padding:0; background:0; display:inline; }
.mod_jflanguageselection a{ display:inline-block; width:19px; height:33px; line-height:33px; text-decoration:none; font-size:13px; color:#999; text-align:center; text-transform:uppercase; font-family:'Geogrotesque CE',sans-serif; }
.mod_jflanguageselection a:hover{ color:#fff; background:#e70000; }
.mod_jflanguageselection li.act a{ background:#fbfcfe; color:#999; width:33px; }
.mod_custom-gte{ position: absolute; top:17px; right: 0; }
.mod_custom-gte .goog-te-gadget-simple{ background: #fff; background: rgba(255,255,255,0.8); border: none; height: 26px; line-height: 26px; padding: 0 5px 2px 5px; }
.mod_custom-gte .goog-te-menu-value{ font-size: 11px; }
.mod_custom-gte .goog-te-menu-value span[style]{ color: #e70000!important; margin: 0 0 0 10px; }
#page-header .phone{ position:absolute; top:50px; right:0; height:28px; line-height:28px; padding:0 0 0 29px; font-weight:bold; font-size:16px; color:#fff; font-family:'Geogrotesque CE',sans-serif; background:url(../images/ico/05.png) no-repeat; }
#page-header .phone span{ display:block; padding:0 5px; background:#a1a1a1; }
.mod_search{ position:absolute; top:87px; right:0; width:200px; }
#page-header.subpage .mod_search{ top:51px; right:176px; }
.mod_search input[type=text]{ position:absolute; top:0; right:0; margin:0; padding:4px 40px 6px 15px; border:0; width:113px; height:16px; font-size:12px; color:#3b3b3b; background:url(../images/btn/07.png) no-repeat; }
.mod_search input.type-text{ position:absolute; top:0; right:0; margin:0; padding:6px 40px 8px 15px; border:0; width:143px; height:16px; font-size:12px; color:#3b3b3b; background:url(../images/btn/07.png) no-repeat; }
.mod_search input[type=text]:hover,.mod_search input[type=text]:focus{ background-position:left bottom; }
.mod_search input[type=submit]{ position:absolute; top:0; right:0; margin:0; padding:0; border:0; width:31px; height:26px; background:url(../images/btn/08.png) no-repeat; cursor:pointer; }
.mod_search input.type-submit{ position:absolute; top:0; right:0; margin:0; padding:0; border:0; width:31px; height:26px; background:url(../images/btn/08.png) no-repeat; cursor:pointer; }
.mod_search input[type=submit]:hover,.mod_search input[type=submit]:focus{ background-position:left bottom; }
.mod_mainmenu{ position:absolute; z-index: 2; top:170px; left:0; }
#page-header.subpage .mod_mainmenu{ top:113px; }
.mod_mainmenu ul{ margin:0; padding:0 0 0 10px; }
.mod_mainmenu ul li{ position:relative; margin:0; padding:0; background:none; float:left; }
.mod_mainmenu ul li a{ display:block; float:left; height:34px; line-height:34px; padding:0 42px; text-decoration:none; color:#fff; font-size:16px; text-transform:uppercase; font-family:'Geogrotesque CE',sans-serif; background:url(../images/bg/03.png) no-repeat left bottom; }
.mod_mainmenu ul li:first-child a{ background:none; }
.mod_mainmenu ul li a:hover{ color:#333; }
.mod_mainmenu>ul>li.act>a{ color:#333; background: url(../images/bg/16.png) no-repeat top; -moz-background-size:cover; -webkit-background-size:cover; -o-background-size:cover; background-size:cover; }
.mod_mainmenu ul ul{ display:none; position:absolute; padding:0; top:100%; left:0; width:200px; border-bottom:7px solid #e70000; }
.mod_mainmenu ul li:last-child ul{ left:auto; right:0; }
.mod_mainmenu ul li:hover ul,.mod_mainmenu ul li.hover ul{ display:block; }
.mod_mainmenu ul ul li{ *zoom:1;float:none;min-height:0;}
.mod_mainmenu ul ul li:before,.mod_mainmenu ul ul li:after{display:table;content:"";}
.mod_mainmenu ul ul li:after{clear:both;}
.mod_mainmenu ul ul li img{float: right;margin:-1px 0 -4px 10px;}
.mod_mainmenu ul ul a,.mod_mainmenu ul li:first-child ul a,.mod_mainmenu ul li ul li:first-child a,.mod_mainmenu li.act ul a{ float:none; text-transform:none; font-size:13px; line-height:16px; padding:12px 10px 9px 35px; height:auto;min-height:0;_height:0; border-bottom:1px solid #d4e1f3; background:#5e6a78 url(../images/arr/01.png) no-repeat 17px 15px; }
.mod_mainmenu ul ul li:first-child a{ border-top:1px solid #d4e1f3; }
.mod_mainmenu ul ul a:hover,.mod_mainmenu ul ul li:first-child a:hover{ color:#fff; background-color:#6b7989; }
.mod_mainmenu ul ul li.act a,.mod_mainmenu ul ul li:first-child.act a{ background-color:#464f59; }
.mod_menu-submenu {
	position: absolute;
	top: 204px;
	left: 0;
	right: 0;
	width: 100%;
}
.mod_menu-submenu ul {
	margin: 0;
	padding: 0;
}
.mod_menu-submenu ul li {
	position: relative;
	font-family:'Geogrotesque CE',sans-serif;
	margin: 0;
	padding: 0;
	float: left;
	width: 25%;
	font-size: 16px;
	text-align: center;
	background: none;
	text-transform: uppercase;
}
.mod_menu-submenu ul li:before {
	content: '';
	position: absolute;
	top: 50%;
	left: -1px;
	width: 2px;
	height: 16px;
	margin: -8px 0 0;
	background: #a8bac8;
}
.mod_menu-submenu ul li:first-child:before {
	display: none;
}
.mod_menu-submenu ul li a {
	display: block;
	text-decoration: none;
	color: #3e6a85;
	padding: 20px;
}
.mod_menu-submenu ul li a:hover {
	color: #e70000;
}
/* mods */
.mod_custom-main-banner{ padding:19px 0 0 0; }
.mod_custom-main-banner .banner-01,.mod_custom-main-banner .banner-02{ position:relative; float:left; width:462px; }
.mod_custom-main-banner .banner-02{ float:right; width:460px; }
.mod_custom-main-banner a{ display:block; position:absolute; top:0; left:0; width:462px; height:165px; text-decoration:none; background:url(../images/btn/09.png) no-repeat; }
.mod_custom-main-banner .banner-02 a{ width:460px; background:url(../images/btn/10.png) no-repeat; }
.mod_custom-main-banner .pdf a{ top:130px; left:auto; right:10px; width:73px; height:63px; text-indent:-1000em; background:url(../images/ico/01.png) no-repeat; }
.mod_custom-main-banner a:hover{ background-position:bottom; }
.mod_custom-main-banner a span{ display:block; text-indent:-1000em; }
.mod_custom-main-banner ul{ position:absolute; top:123px; left:20px; margin:0; padding:0; }
.mod_custom-main-banner ul li{ margin:0 1px 0 0; padding:0; background:none; float:left; }
.mod_newsflash_xart{ position:relative; top:-12px; }
.mod_newsflash_xart .mod-title{ font-size:18px; line-height:21px; font-weight:bold; margin:0 0 22px 0; color:#4f4f4f; font-family:'Geogrotesque CE',sans-serif; }
.mod_newsflash_xart .mod-title .prev,.mod_newsflash_xart .mod-title .next{ display:inline-block; position:relative; left:5px; top:4px; width:20px; height:20px; margin:0 0 0 6px; background:url(../images/arr/04.png) no-repeat; cursor:pointer; }
.mod_newsflash_xart .mod-title .next{ background:url(../images/arr/06.png) no-repeat; }
.mod_newsflash_xart .mod-title .prev:hover{ background-image:url(../images/arr/05.png); }
.mod_newsflash_xart .mod-title .next:hover{ background-image:url(../images/arr/07.png); }
.mod_newsflash_xart .scrollable{ position:relative; width:460px; overflow:hidden; }
.mod_newsflash_xart .scrollable section{ position:relative; width:10000em; }
.mod_newsflash_xart article{ *zoom:1; padding:0 0 10px 0; }
.mod_newsflash_xart article:before,.mod_newsflash_xart article:after{ display:table; content:""; }
.mod_newsflash_xart article:after{ clear:both; }
.mod_newsflash_xart .scrollable article{ width:460px; margin-right:100px; float:left; }
.mod_newsflash_xart figure{ width:105px; float:left; }
.mod_newsflash_xart time{ position:relative; width:22px; float:left; background:#aaa; height:66px; padding:2px 0 0 0; text-align:center; color:#fff; font-family:'Geogrotesque CE',sans-serif; font-size:13px; line-height:17px; }
.mod_newsflash_xart time span{ display:block; margin:0 4px; }
.mod_newsflash_xart time .month{ border-top:1px solid #fff; }
.mod_newsflash_xart time .year{ position:absolute; bottom:0; left:0; margin:0; width:22px; height:22px; line-height:22px; background:#999; }
.mod_newsflash_xart .content{ width:315px; float:right; }
.mod_newsflash_xart .no-thumb .content{ width:420px; float:right; }
.mod_newsflash_xart h2{ font-size:15px; line-height:18px; margin:0 0 6px 0; color:#4f4f4f; }
.mod_newsflash_xart h2 a{ color:#4f4f4f; }
.mod_newsflash_xart p{ font-size:12px; line-height:15px; margin:0; background:url(../images/arr/02.png) no-repeat -1000em; }
.mod_newsflash_xart a.more{ display:inline-block; width:10px; height:10px; margin:0 0 0 5px; text-indent:-1000em; background:url(../images/arr/03.png) no-repeat; }
.mod_newsflash_xart a.more:hover{ background-image:url(../images/arr/02.png); }
.mod_custom-pozvanky{ position:relative; _height:0; margin:0 0 23px 0; }
.mod_custom-pozvanky .mod-title{ font-size:16px; line-height:19px; padding:0 0 25px 0; margin:0 0 -12px 0; color:#4f4f4f; font-weight:bold; font-family:'Geogrotesque CE',sans-serif; background:url(../images/bg/07.png) no-repeat bottom; }
.mod_custom-pozvanky .scrollable{ position:relative; background:url(../images/bg/06.png) repeat-y top; padding:0 0 8px; _background:none; }
.mod_custom-pozvanky .wrapper{ position:relative; _height:0; }
.mod_custom-pozvanky .prev,.mod_custom-pozvanky .next{ position:absolute; top:48px; right:15px; display:block; width:20px; height:20px; background:url(../images/arr/08.png) no-repeat; }
.mod_custom-pozvanky .next{ top:auto; bottom:12px; background:url(../images/arr/10.png) no-repeat; }
.mod_custom-pozvanky .prev:hover{ background-image:url(../images/arr/09.png); }
.mod_custom-pozvanky .next:hover{ background-image:url(../images/arr/11.png); }
.mod_custom-pozvanky .scrollable{ height:108px; overflow:hidden; position:relative; }
.mod_custom-pozvanky ul{ margin:0; padding:23px 0 126px 0; }
.mod_custom-pozvanky ul li{ *zoom:1; position:relative; margin:0 0 6px 0; padding:0 40px 0 88px; background:none; }
.mod_custom-pozvanky ul li:before,.mod_custom-pozvanky ul li:after{ display:table; content:""; }
.mod_custom-pozvanky ul li:after{ clear:both; }
.mod_custom-pozvanky ul li a { color:#4f4f4f; }
.mod_custom-pozvanky time{ position:absolute; top:0; left:0; display:inline; font-size:12px; line-height:15px; color:#4f4f4f; margin:0 20px 0 0; font-family:'Geogrotesque CE',sans-serif; }
.mod_custom-pozvanky li h3{ font-size:13px; line-height:15px; margin:0 5px 0 0; float:left; font-weight:bold; font-family:'Geogrotesque CE',sans-serif; }
.mod_custom-pozvanky li p{ font-size:12px; line-height:15px; margin:0; float:left; color:#4f4f4f; font-style:italic; white-space:nowrap; }
.custom-banners-set{ position: relative; top:-3px; margin:0 0 -27px -20px; width:480px; }
.custom-banner{ position:relative; width:222px; margin:0 -1px 17px -1px; height:132px; overflow:hidden; _display:inline; }
.custom-banners-set .custom-banner{ margin:0 -1px 18px 19px; float:left; }
.custom-banner a{ text-decoration:none; }
.custom-banner span{ position:absolute; display:block; top:20px; left:22px; width:176px; z-index:1; color:#e70000; font-size:17px; line-height:20px; text-transform:uppercase; font-weight:bold; font-family:'Geogrotesque CE',sans-serif; }
.custom-banner mark{ position: absolute; display: none; bottom:8px; left:9px; width: 184px; font-size: 11px; color: #fff; line-height: 13px; padding: 10px; background: url(../images/bg/17.png) repeat-y; }
.custom-banner nav{ position:absolute; display:block; bottom:29px; right:2px; width:80px; padding:8px 15px 9px 15px; z-index:1; color:#fff; font-size:12px; line-height:12px; font-weight:bold; background:#4f4f4f url(../images/arr/17.png) no-repeat 93% center; font-family:'Geogrotesque CE',sans-serif; }
.custom-banner a:hover nav{ background-color:#e70000; }
.custom-banner a.cs{ position:absolute; top:20px; left:20px; display:block; width:124px; height:74px; overflow:hidden; z-index:2; }
.custom-banner a.sk{ position:absolute; top:54px; left:104px; display:block; width:99px; height:58px; overflow:hidden; z-index:2; }
.custom-banner img{ position:absolute; top:0; left:0; }
.custom-banner:hover img,.custom-banner:hover a.cs:hover img,.custom-banner:hover a.sk:hover img{ top:auto; bottom:0; }
.custom-banner:hover a.cs img,.custom-banner:hover a.sk img{ top:0; bottom:auto; }
.custom-banners-set div.more{ position: relative; top: -3px; clear: both; text-align: center; font-size:12px; line-height: 15px; font-weight: bold; padding:5px 0 0 0; background: url(../images/bg/18.png) no-repeat top; font-family:'Geogrotesque CE',sans-serif; }
.custom-banners-set div.more a{ padding: 0 25px 0 10px; color: #4f4f4f; text-decoration: none; background:#d7e0ee url(../images/arr/16.png) no-repeat 85% center; }
.custom-banners-set div.more a:hover{ text-decoration: underline; }
.mod_banners{ position:absolute; top:-1px; left:-53px; width:1008px; }
.mod_banners.open{ top:auto; bottom:-45px; left:-24px; }
.mod_banners .mod-title{ height:45px; padding:14px 0 0 59px; font-size:13px; line-height:16px; margin:0; color:#999; font-weight:bold; text-transform:uppercase; font-family:'Geogrotesque CE',sans-serif; background:url(../images/bg/09.png) no-repeat top; }
.mod_banners .mod-title span{ padding:0 25px 0 0; background:url(../images/arr/13.png) no-repeat right; cursor:pointer; }
.mod_banners.open .mod-title{ padding-left:35px; padding-top:17px; }
.mod_banners.open .mod-title span{ background-image:url(../images/arr/12.png); }
.mod_banners.hover .mod-title span,.mod_banners .mod-title span:hover{ color:#4f4f4f; }
.mod_banners ul{ *zoom:1; height:0; margin:0; padding:20px 20px 20px 25px; overflow:hidden; background:url(../images/bg/10.png) repeat-y top; }
.mod_banners.open ul{ height:auto; }
.mod_banners ul:before,.mod_banners ul:after{ display:table; content:""; }
.mod_banners ul:after{ clear:both; }
.mod_banners ul li{ margin:0 0 12px 15px; padding:0; background:none; float:left; }
.mod_banners .close{ position:absolute; top:45px; right:5px; display:block; width:30px; height:30px; line-height:30px; background:#e70000; color:#fff; font-size:18px; text-align:center; text-decoration:none; cursor:pointer; -webkit-border-radius:0 8px 0 0; -moz-border-radius:0 8px 0 0; border-radius:0 8px 0 0; }
.mod_banners .close:hover{ background:#999; }
.mod_banners-button{ position:absolute; top:10px; left:-20px; display:block; width:125px; height:30px; cursor:pointer; }
.mod_custom-bottom-menu{ width:460px; padding:0 0 5px 0; margin:0 0 14px 0; float:left; background:url(../images/bg/11.png) no-repeat left bottom; }
.mod_custom-bottom-menu ul{ *zoom:1; margin:0; padding:6px 0 12px 0; background:url(../images/bg/12.png) repeat-y; background:none; }
.mod_custom-bottom-menu ul:before,.mod_custom-bottom-menu ul:after{ display:table; content:""; }
.mod_custom-bottom-menu ul:after{ clear:both; }
.mod_custom-bottom-menu ul li{ margin:0 42px 0 0; padding:0; font-size:12px; line-height:15px; background:none; float:left; }
.mod_custom-bottom-menu ul li a{ color:#4f4f4f; }
.mod_xnewsletter{ width:370px; padding:9px 0 16px 0; float:right; }
.mod_xnewsletter .mod-left{ width:130px; float:left; }
.mod_xnewsletter .mod-right{ position:relative; width:200px; padding:0 0 0 20px; float:right; border-left:1px solid #c1c9d5; }
.mod_xnewsletter .mod-right:before{ position: absolute; top:0; left:0; height: 100%; width: 1px; overflow: hidden; background: #fff; content: ' '; }
.mod_xnewsletter .mod-title{ font-size:16px; line-height:19px; margin:0 0 9px 0; text-transform:uppercase; font-weight:bold; font-family:'Geogrotesque CE',sans-serif; }
.mod_xnewsletter p{ font-size:11px; line-height:15px; margin:0 0 11px 0; }
.mod_xnewsletter form{ min-height:30px; _height:30px; position:relative; }
.mod_xnewsletter input[type=text]{ position:absolute; top:0; left:0; margin:0; padding:4px 40px 6px 15px; border:0; width:143px; height:16px; font-size:12px; color:#3b3b3b; background:url(../images/btn/11.png) no-repeat; }
.mod_xnewsletter input.type-text{ position:absolute; top:0; left:0; margin:0; padding:4px 40px 6px 15px; border:0; width:143px; height:16px; font-size:12px; color:#3b3b3b; background:url(../images/btn/11.png) no-repeat; }
.mod_xnewsletter input[type=text]:hover,.mod_xnewsletter input[type=text]:focus{ background-position:left bottom; }
.mod_xnewsletter input[type=submit]{ position:absolute; top:0; left:180px; margin:0; padding:0; border:0; width:18px; height:26px; background:url(../images/arr/15.png) no-repeat 1px center; cursor:pointer; }
.mod_xnewsletter input.type-submit{ position:absolute; top:0; left:180px; margin:0; padding:0; border:0; width:18px; height:26px; background:url(../images/arr/15.png) no-repeat 1px center; cursor:pointer; }
.mod_xnewsletter input[type=submit]:hover{ background:url(../images/arr/14.png) no-repeat left; }
.mod_custom-submenu .mod-title{ font-size:20px; line-height:23px; margin:0 0 -12px 0; padding:0 0 26px 0; background:url(../images/bg/14.png) no-repeat bottom; font-family:'Geogrotesque CE',sans-serif; }
.mod_custom-submenu ul{ margin:0 0 35px 0; padding:16px 0 6px 0; background:url(../images/bg/15.png) repeat-y center; font-family:'Geogrotesque CE',sans-serif; }
.mod_custom-submenu ul li{ margin:0 0 9px 0; padding:0 0 0 15px; font-size:13px; line-height:16px; background:url(../images/arr/15.png) no-repeat 0 1px; }
.mod_custom-submenu ul li.act{ font-weight:bold; }
.mod_custom-submenu ul li a{ color:#4f4f4f; text-decoration:none; }
.mod_custom-submenu ul li a:hover{ text-decoration:underline; }
.mod_custom-submenu ul li.act a{ color:#e70000; }
.mod_custom-submenu ul ul{ margin:0; padding:10px 0 0 0; background:none; }
.mod_custom-submenu ul li ul li{ background:url(../images/arr/16.png) no-repeat 0 2px; }
.mod_custom-submenu ul li ul li,.mod_custom-submenu ul li.act ul li{ font-weight:normal; }
.mod_custom-submenu ul li ul li.act{ font-weight:bold; }
.mod_custom-submenu ul li ul li a,.mod_custom-submenu ul li.act ul li a{ color:#4f4f4f; }
.mod_custom-submenu ul li ul li.act a{ color:#e70000; }
.mod_custom-product .product-item{ padding: 0 0 20px; margin: 0 0 22px; -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px; background: url(../images/bg/20.png) repeat-x bottom; }
.mod_custom-product .product-header h2{ position:relative; z-index:1; font-size:21px; line-height:24px; padding:0 0 23px 0; margin:0 0 -12px 0; background:url(../images/bg/07.png) no-repeat bottom; }
.mod_custom-product .product-title{ *zoom:1; background:#cfd7e4; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0; }
.mod_custom-product .product-title:before,.mod_custom-product .product-title:after{ display:table; content:""; }
.mod_custom-product .product-title:after{ clear:both; }
.mod_custom-product .product-title h2{ background:none; margin:0; padding:15px 27px 9px 27px; float:left; font-size:18px; line-height:21px; }
.mod_custom-product .product-title h2 span{ color:#e70000; }
.mod_custom-product .product-data{ float:right; padding:18px 16px; font-size:10px; line-height:13px; white-space:nowrap; color:#000; background:#c7cfdc; font-family:'Geogrotesque CE',sans-serif; -webkit-border-radius: 0 10px 0 0; -moz-border-radius: 0 10px 0 0; border-radius: 0 10px 0 0; }
.mod_custom-product .product-data img{ margin:0 0 -4px 0; }
.mod_custom-product .product-container{ padding:30px 0 0 0; background: url(../images/bg/19.png) repeat-x; }
.mod_custom-product .product-thumbnail{ width:220px; padding:0 0 20px 30px; float:left; }
.mod_custom-product .product-content{ float:right; width:430px; padding: 0 0 20px; }
.mod_custom-product .product-content-header{ *zoom:1; margin:0 0 15px 0; padding:0; }
.mod_custom-product .product-content-header:before,.mod_custom-product .product-content-header:after{ display:table; content:""; }
.mod_custom-product .product-content-header:after{ clear:both; }
.mod_custom-product .product-content-header li{ margin:0 9px 0 0; padding:0; background:none; float:left; font-size:10px; line-height:13px; color:#000; font-family:'Geogrotesque CE',sans-serif; }
.mod_custom-product .product-content-header li.param{ width:140px; }
.mod_custom-product .product-content-header li.separator{ width:3px; height:40px; overflow:hidden; background:#999; }
.mod_custom-product .product-content-header li img{ float:left; margin:0 4px 0 0; }
.mod_custom-product .product-content-header li span{ font-size:13px; line-height:18px; }
.mod_custom-product .product-content-header li span sub{ position:relative; top:4px; font-size:10px; }
.mod_custom-product .product-content-header li span sup{ position:relative; top:-4px; font-size:10px; }
.mod_custom-product .product-content nav{ text-align:left; }
.mod_custom-product .product-content nav a{ color:#fff; padding-left:10px; background-color:#a7a7a7; background-image: url(../images/arr/06.png); }
.mod_custom-product .product-content nav a:hover{ text-decoration:none; background-color:#e70000; background-image: url(../images/arr/07.png); }
.mod_custom-product .product-code{ width:110px; padding:0 0 0 30px; float:left; }
.mod_custom-product .product-code ul{ margin:0 0 10px 0; padding:0; }
.mod_custom-product .product-code ul li{ position:relative; margin:0 0 1px 0; padding:4px 5px 6px 8px; height:11px; line-height:14px; color:#fff; background:#e70000; font-family:'Geogrotesque CE',sans-serif; }
.mod_custom-product .product-code ul li img{ position:absolute; top:1px; left:100%; }
.mod_custom-product .product-table{ width:520px; float:right; }
.mod_custom-product .product-table table{ background:#eaeef5; width:100%; margin:0 0 10px 0; }
.mod_custom-product .product-table thead td{ background:#fff; }
.mod_custom-product .product-table td,.mod_custom-product .product-table th{ font-size:10px; text-align:center; padding:3px 1px 4px 1px; border-bottom:1px solid #d4ddeb; vertical-align:middle; }
/* page footer */
#page-footer .copy p{ font-size:11px; line-height:14px; }
#page-footer .xart{ position:absolute; top:0; right:-3px; width:143px; font-size:10px; line-height:12px; text-align:center; }
#page-footer .xart img{ display:block; margin:0 auto; }
#page-footer .xart a{ color:#999; text-decoration:none; }